* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.react-tabs__tab {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  margin: 0 0.4rem;
  cursor: pointer;
}

.react-tabs__tab--selected {
  border-bottom: 3px solid #4267b2;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.pagination button {
  width: 2rem;
  height: 2rem;
}
